.idea
.vscode
scripts/utils/*.pyc
scripts/*/__pycache__
figures/peak_umap_annotated/peak_umaps_chroms_each.pdf
notebooks/*/__pycache__
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/00_coverage_plot_optimization-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/01_integrate_multiome_objects-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/celltype_timepoint_metadata-checkpoint.csv
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/cluster_celltype_accessibility-checkpoint.pdf
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/colormap-checkpoint.pdf
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/coverage_plot_python_utils-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/EDA_motifs_peak_clusters-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/EDA_peak_umap_grabbag-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/EDA_step1_peaks_pseudobulked-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/EDA_step2_peaks_pseudobulked_annotate_peaks-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/EDA_step3_peak_umap_gene_assoc-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/EDA_step4_peaks_umap_linked_genes-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/EDA_step5_peak_umap_hierarchical_clust-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/EDA_step6_peak_umap_assoc_genes_proximity-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/EDA_step7_peak_umap_stats-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/Fig1_bcde_atlas_integrated-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/Fig1_coverage_plot_ATAC_integrated-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/Fig1_f_R_coverage_plot_optimization-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/Fig1_gh_RNA_ATAC_whole_embryo-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/Fig1_RNA_ATAC_pseudo_bulk_EDA-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/Fig1_SI_QC_metrics_part1-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/Fig1_SI_QC_metrics_R_part2-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/gimmemotifs_de_novo_TF_motifs-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/peaks_hvp_50k-checkpoint.txt
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/peaks_pb_preprocessing-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/peaks_pb_preprocessing-checkpoint.py
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/peak_umap_subcluster-checkpoint.txt
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/prepare_h5ad_objects_cellxgene-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/R_export_dim_reduction_seurat-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/R_link_peaks_to_genes-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/SI_dotplot_marker_genes_peaks-checkpoint.ipynb
notebooks/Fig1_atlas_QC/.ipynb_checkpoints/unique_associated_genes-checkpoint.csv
notebooks/Fig2_ATAC_RNA_correlation_metacells/.ipynb_checkpoints/aggregate_metacell_counts-checkpoint.ipynb
notebooks/Fig2_ATAC_RNA_correlation_metacells/.ipynb_checkpoints/compute_metacells_n_cells-checkpoint.ipynb
notebooks/Fig2_ATAC_RNA_correlation_metacells/.ipynb_checkpoints/Fig2_compute_RNA_ATAC_corr_seacells-checkpoint.ipynb
notebooks/Fig2_ATAC_RNA_correlation_metacells/.ipynb_checkpoints/Fig2_metacell_RNA_ATAC_dynamics-checkpoint.ipynb
notebooks/Fig2_ATAC_RNA_correlation_metacells/.ipynb_checkpoints/Fig2_metacell_RNA_ATAC_dynamics_metacells_30cells-checkpoint.ipynb
notebooks/Fig2_ATAC_RNA_correlation_metacells/.ipynb_checkpoints/FigSI_chromatin_coaccess_dynamics-checkpoint.ipynb
notebooks/Fig2_ATAC_RNA_correlation_metacells/.ipynb_checkpoints/FishEnrichR_query-checkpoint.ipynb
notebooks/Fig3_GRN_dynamics/.ipynb_checkpoints/Fig3_GRN_dynamics-checkpoint.ipynb
notebooks/Fig3_GRN_dynamics/.ipynb_checkpoints/SI_QC_GRN_network_comparison_TDR118_TDR119_reseq_v2-checkpoint.ipynb
notebooks/Fig3_GRN_dynamics/.ipynb_checkpoints/test_umap-checkpoint.ipynb
notebooks/Fig4_in_silico_KO/.ipynb_checkpoints/AlignUMAP_NMPs_timepoints-checkpoint.ipynb
notebooks/Fig4_in_silico_KO/.ipynb_checkpoints/Fig4_in_silico_KO-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/00_nearest_neighbors_genomic_proximity-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/01_02_peak_type_stats-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/01_annotate_peak_umap-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/01_annotate_peak_umap-checkpoint.py
notebooks/Fig_peak_umap/.ipynb_checkpoints/01_create_structured_prompts-checkpoint.py
notebooks/Fig_peak_umap/.ipynb_checkpoints/02_01_hierarchical_clustering_peak_umap-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/02_02_sub-clustering_peak_umap-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/03_motif_enrichment_analysis-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/03_motif_enrichment_analysis_v2-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/03_motif_enrichment_leiden_subclusters-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/03_motifs_grabbag-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/04_associate_peaks_genes_peak_umap-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/05_trajectory_inference-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/05_trajectory_inference_paga-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/10X_uniform_qc.py
notebooks/Fig_peak_umap/.ipynb_checkpoints/CHOIR_peak_umap_hierarchical_clustering-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/compute_leiden_clusters_cell_umap_wnn-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/compute_leiden_clusters_cell_umap_wnn-checkpoint.py
notebooks/Fig_peak_umap/.ipynb_checkpoints/EDA_motifs_peak_clusters-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/EDA_motifs_peak_clusters-checkpoint.py
notebooks/Fig_peak_umap/.ipynb_checkpoints/EDA_peak_umap_grabbag-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/EDA_step2_peaks_pseudobulked_annotate_peaks-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/EDA_step2_peaks_pseudobulked_annotate_peaks-checkpoint.py
notebooks/Fig_peak_umap/.ipynb_checkpoints/EDA_step3_peak_umap_gene_assoc-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/EDA_step4_peaks_umap_linked_genes-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/EDA_step6_peak_umap_assoc_genes_proximity-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/EDA_step7_peak_umap_stats-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/gimmemotifs_de_novo_TF_motifs-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/grabbag_annotate_peak_clusters_sub-clustering-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/leiden_clusters_curation_mapping-checkpoint.csv
notebooks/Fig_peak_umap/.ipynb_checkpoints/litemind_structured_query_reg_programs-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/litemind_tutorial-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/peak_annotation_utils-checkpoint.py
notebooks/Fig_peak_umap/.ipynb_checkpoints/peaks_pb_leiden_clusters-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/peaks_pb_leiden_clusters-checkpoint.py
notebooks/Fig_peak_umap/.ipynb_checkpoints/peak_umap_FishEnrichR_grabbag-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/peak_umap_leiden_clusts_viz_v1-checkpoint.ipynb
notebooks/Fig_peak_umap/.ipynb_checkpoints/utils_gimmemotifs_maelstrom-checkpoint.py
